.login
{
    display:flex;
    justify-content: center;
    align-items: center;
       
}
.submit
{
    background-color:#38A1F3;
    border:0;
    color:white;
    width:225px;
    cursor: pointer;
}
.sign
{
    background-color: white;
    color:black;
    cursor: pointer;
    text-decoration: underline;
}