.login
{
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;    
}
.submit
{
    background-color:#38A1F3;
    border:0;
    color:white;
    width:225px;
    cursor: pointer;
}